::ng-deep .ag-grid-cell-negative {
  background-color: #ffcccc !important; /* Light red */
  color: #d8000c !important; /* Dark red */
}

::ng-deep .ag-grid-cell-positive {
  background-color: #ccffcc !important; /* Light green */
  color: #006400 !important; /* Dark green */
}

::ng-deep .ag-grid-cell-zero {
  background-color: #f0f0f0 !important; /* Light gray */
  color: #000000 !important; /* Black */
}

::ng-deep .ag-grid-row-less{
  background-color: #ec0e0e !important; /* Light gray */
}
::ng-deep .ag-grid-row-more{
  background-color: #0cda73 !important; /* Light gray */
}
