  <!-- container -->
<div class="bg-zinc-700 px-4 flex justify-center h-screen  items-center ">

  <!-- card  -->
   <div class="rounded-2xl mx-6 p-2 bg-zinc-800">

    <!--  flex content  -->
     <div class="flex flex-col md:flex-row rounded-l-xl ">

      <!-- image  -->

         <img src="assets/tailwinds/email-subscribe/images/image.jpg" class="h-80
         rounded-xl object-cover md:h-64 hover:scale-105
          md:rounded-l-xl md:rounded-r-none  hover:rounded-xl" />

          <!-- other content -->
        <div class="p-6 md:p-12 ">
          <h2 class="text-center text-xl font-medium
           text-white font-serif md:text-left">
            Get Diet and fitness tips  in your  inbox
          </h2>
          <p class="max-w-xs my-4 text-x5 leading-5 tracking-wide
          text-center text-white md:text-left"> Eat better and excersize better. Sign up Diet&Fitness  news letter</p>

          <div class="flex mt-5 space-y-4 md:space-x-3 md:space-y-0 flex-col  md:flex-row">

            <input class="bg-zic-700 p-2 px-4 text-white bg-zinc-800 border border-bg-600
             placeholder:text-sm outline-none  placeholder:text-center "
               placeholder="Enter your email address">
            <button class="bg-lime-500  hover:bg-lime-700 text-xs
             text-zinc-800  hover:text-white *:px-5 py-3"> Subscribe</button>
          </div>
        </div>
     </div>
  </div>

</div>
