.custom-legend {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 20px;
  font-family: sans-serif;
  font-size: 14px;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 6px;
}

.legend-color {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid #444;
}
