<div class="bg-green-500 flex flex-y-0 flex-x-4  text-white p-4 ">

  <div class="bg-green-500 text-white p-4">
    <h1>Hello, Tailwind! Basics</h1>
    <p>Let's explore more in depth:</p>

    <button routerLink="tailwind-utitlity-first" routerLinkActive="active">Tailwind Utility First</button>
    <button routerLink="tailwind-colors" routerLinkActive="active">Tailwind Colors</button>
    <button routerLink="tailwind-contianer-spacing" routerLinkActive="active">Tailwind Container Spacing</button>
    <button routerLink="tailwind-typegraphy" routerLinkActive="active">Tailwind Typography</button>
    <button routerLink="tailwind-sizing" routerLinkActive="active">Tailwind Sizing</button>
    <button routerLink="tailwind-layout-positions" routerLinkActive="active">Tailwind Layout Positions</button>
    <button routerLink="tailwind-background-shadows" routerLinkActive="active">Tailwind Background Shadows</button>
    <button routerLink="tailwind-borders" routerLinkActive="active">Tailwind Borders</button>
    <button routerLink="tailwind-filters" routerLinkActive="active">Tailwind Filters</button>
    <button routerLink="tailwind-interactivity" routerLinkActive="active">Tailwind Interactivity</button>
    <button routerLink="tailwind-breakpoints" routerLinkActive="active">Tailwind Breakpoints</button>
    <button routerLink="tailwind-columns" routerLinkActive="active">Tailwind Columns</button>
    <button routerLink="tailwind-flex" routerLinkActive="active">Tailwind Flex</button>
    <button routerLink="tailwind-grid" routerLinkActive="active">Tailwind Grid</button>
    <button routerLink="tailwind-animation" routerLinkActive="active">Tailwind Animation</button>
    <button routerLink="tailwind-customization" routerLinkActive="active">Tailwind Customization</button>
    <button routerLink="tailwind-darkMode" routerLinkActive="active">Tailwind Dark Mode</button>
  </div>
 <router-outlet>

  </router-outlet>
 </div>
