<div class="flex items-center justify-center h-screen bg-gray-100">
  <h4> Learn Ag Grid Basics </h4>
  <div>
    <a routerLink="/enterprise-grid"> enterprise-grid </a>
    <a routerLink="/basic-grid"> basic-grid </a>
    <a routerLink="/pivot-grid"> pivot-grid </a>
    <a routerLink="/orient-grid"> orient-grid </a>
    <a routerLink="/student-summary-stg-grid">student-summary-stg-grid </a>
<a routerLink="/student-summary-eth-grid">student-summary-eth-grid </a>

    <a routerLink="/responsive-grid"> responsive-grid </a>

  </div>

<router-outlet></router-outlet>

</div>


