:host {
  border: 1px solid rgb(18, 18, 19);
  height: 100%;
  width: 100%;
  display: inline-flex;
  padding: 20px;
  margin: 20px;

   p {
    color: red ;
  }
}


.red-button {
  color: red;
}



app-style-small-comp1.blue-button {
  background-color: blue;
  color: white;
}
