<!-- <app-positions></app-positions> -->
<!-- <app-selectors></app-selectors> -->
<!-- <app-no-encapsulation></app-no-encapsulation> -->
<div class="encapsulation-teting">
  <button type="button" class="btn btn-warning">Warning</button>
  <button type="button" class="btn btn-primary">Primary</button>
  <app-emulated-encapsulation></app-emulated-encapsulation>
  <app-general></app-general>
  <app-no-encapsulation></app-no-encapsulation>
</div>

<!-- <app-shadow-dom-encapsulation class="custom-color"></app-shadow-dom-encapsulation> -->
